# Binários
*.exe
*.dll
*.pdb

# Arquivos de compilação
*.o
*.obj
*.bak

# Pasta de saída de build
bin/
obj/

# Visual Studio
.vs/
*.vscode/

# Arquivos de configuração do Visual Studio
*.user
*.suo
*.sln.docstates

# Arquivos de cache do ReSharper
_ReSharper*/

# Ferramentas de construção
node_modules/
bower_components/

# Arquivos de log e debug
*.log
*.log.*
*.nupkg
*.sqlite

# Dependências do NuGet
packages/
*.nupkg
!PackageReference/

# Arquivos de publicação
*.publishsettings
*.pubxml
*.publishproj

# Folders
[Tt]emp/
[Dd]ebug/
[Rr]elease/
